.pkmn-container {
    text-align: center;
    margin: 0px;
    padding: 0%;
    border-radius: 20%;
}
body {
    background: rgba(100,165,150,1);
background: -moz-linear-gradient(left, rgba(100,165,150,1) 0%, rgba(43,103,123,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100,165,150,1)), color-stop(100%, rgba(43,103,123,1)));
background: -webkit-linear-gradient(left, rgba(100,165,150,1) 0%, rgba(43,103,123,1) 100%);
background: -o-linear-gradient(left, rgba(100,165,150,1) 0%, rgba(43,103,123,1) 100%);
background: -ms-linear-gradient(left, rgba(100,165,150,1) 0%, rgba(43,103,123,1) 100%);
background: linear-gradient(to right, rgba(100,165,150,1) 0%, rgba(43,103,123,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a596', endColorstr='#2b677b', GradientType=1 );
}

