@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Signika');

body {
  font-family: 'Signika', sans-serif !important;
  background-color: #9cc5e6 !important;
  color: #414a6a !important;
}
/*Navbar -->*/
nav#nav-menu {
  background-color: #414a6a !important;
  box-shadow: 0px 4px #f6527b !important;
  font-size: 18px;
}
a.a-text {
  color: #bcc3dd !important;
}
a.a-text:hover {
  font-weight: bold !important;
}
a#index-text {
  line-height: 0 !important;
}
.dropdown-item {
  color: #414a6a;
}  
.dropdown-item:hover {
  background-color: #58ac7c;
  color: #ffffff;
} 
div.dropdown-menu {
  background-color: #367e55;
}
img#logo-pkmn {
  margin-right: 5px;
}
/*<-- Navbar*/

/*Calculate text -->*/
h4.showing-count {
  font-weight: bold !important;
  text-align: center;
  margin-top: 2%;
}
/*<-- Calculate text*/

/*Banner image -->*/
div.img-banner{
  text-align: center;
}
img#img-banner {
  width: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 980px) {
  img#img-banner {
    display: none;
  }
}
/*<-- Banner image*/

/*Cards -->*/
.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  width: 150px;
}
.card {
  border-radius: 20px;
  height: 250px;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.side p {
  height: 10px;
}
.pkmn-container {
  color: #ffffff;
  background-color: #414a6a !important;
  text-align: center;
  margin: 10px 20px !important;
  padding: 0 !important;
  border-radius: 20%;
  width: 300px;
  box-shadow: 4px 4px #f6527b !important;
}
h6.pkmn-name {
  font-size: 18px;
  margin-top: 20px;
}
img#pkmn-img {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
/*<-- Cards*/

/*Back card -->*/
.card .side {
  backface-visibility: hidden;
  border-radius: 20px !important;
  height: 250px;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #1e2d5e;
  color: #ffffff;
  line-height: 100px;
  text-align: center;
  transform: rotateY(180deg);
  border-radius: 40px !important;
}
ul {
  list-style: none;
  padding-bottom: 2px;
}
div.side ul li {
  height: 20px;
  padding-right: 30px;
}
/*<-- Back card*/

/*Pkmn types -->*/
div.types {
  padding: 0;
}
p.type-box {
  height: 21px;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 2px 2px #f6527b;
  margin-right: 4px;
  margin-left: 4px;
}
p.type-box.bug {
  background: #a6b241;
}
p.type-box.dragon {
  background: #6c5bbb;
}
p.type-box.electric {
  background: #eed535;
}
p.type-box.fighting{
  background: #b85945;
  height: 21px;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 2px 2px #367e55;
  margin-right: 2px;
  margin-left: 2px;
}
p.type-box.fire {
  background: #f14730;
}
p.type-box.flying {
  background: #678fcf;
}
p.type-box.ghost {
  background: #363453;
}
p.type-box.grass {
  background: #7dc95d;
}
p.type-box.ground {
  background: #d7bb56;
}
p.type-box.ice {
  background: #6bb0c3;
}
p.type-box.normal {
  background: #8b8382;
}
p.type-box.poison {
  background: #8a567e;
}
p.type-box.psychic {
  background: #d55a86;
}
p.type-box.rock {
  background: #bfa965;
}
p.type-box.water {
  background: #3498f9;
}
/*<-- Pkmn types*/

/*Footer -->*/
footer#footer {
  background-color: #367e55;
  margin-top: 20px;
}
div.footer-text{
  text-align: center;
  margin-top: 10px;
}
p#footer-text {
  padding-top: 15px;
  color: #ffffff;
}
/*<-- Footer*/