@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Signika');

body {
  font-family: 'Signika', sans-serif !important;
  color: #ffee52 !important;
  background-color: #4d4a49;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/*Navbar -->*/
nav#nav-menu {
  background-color: #ffee52 !important;
  font-size: 18px;
  -webkit-box-shadow: 7px 7px 5px -8px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 7px 7px 5px -8px rgba(0,0,0,0.75) !important;
  box-shadow: 7px 7px 5px -8px rgba(0,0,0,0.75) !important;
}
a.a-text {
  color: #297383 !important;
}
a.a-text:hover {
  color: #297383 !important;
  font-weight: bold;
}
a#index-text {
  line-height: 0 !important;
}
.dropdown-item {
  color: #ffee52;
}  
.dropdown-item:hover {
  background-color: #ffee52;
  color: #297383;
  font-weight: bold;
} 
div.dropdown-menu {
  background-color: #297383;
}
img#logo-pkmn {
  margin-right: 5px;
}
/*<-- Navbar*/

/*Calculate text -->*/
h4.showing-count {
  font-weight: bold !important;
  text-align: center;
  margin-top: 2%;
}
/*<-- Calculate text*/

/*Banner image -->*/
div.img-banner{
  text-align: center;
}
img#img-banner {
  width: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 980px) {
  img#img-banner {
    display: none;
  }
  .close-modal {
    position: absolute
  }
}
/*<-- Banner image*/

/*Cards -->*/
.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  width: 150px;
}
.card {
  border-radius: 20px;
  height: 250px;
/*   transform-style: preserve-3d;
  transition: all 1s ease-in-out; */
  width: 100%;
}
/*.card:hover {
  transform: rotateY(180deg);
}*/
.side p {
  height: 10px;
}
.pkmn-container {
  color: #ffffff;
  background-color: #297383;
  text-align: center;
  margin: 10px 20px !important;
  padding: 0 !important;
  border-radius: 20px;
  width: 300px;
  border-bottom: solid 4px #ffee52;
  border-right: solid 3px #ffee52
}
.pkmn-container:hover {
  border-top: solid 1px #debd29;
  border-left: solid 1px #debd29;
  border-bottom: none;
  border-right: none
}
h6.pkmn-name {
  font-size: 18px;
  margin-top: 20px;
}
img#pkmn-img {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
/*<-- Cards*/

/*Back card -->*/
/*.card .side {
  backface-visibility: hidden;
  border-radius: 20px !important;
  height: 250px;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #f4cf53;
  color: #ffffff;
  line-height: 100px;
  text-align: center;
  transform: rotateY(180deg);
  border-radius: 40px !important;
}
ul {
  list-style: none;
  padding-bottom: 2px;
}
div.side ul li {
  height: 20px;
  padding-right: 30px;
}
 Back card*/

/*modal -->*/

.modal-backdrop
{
    opacity: 0.50 #f4cf53 !important;
}
div.modal-content{
  background-color: #f4cf53;
  color: #297383;
  border-radius: 20px;
}
h4#modal-title {
  text-align: center;
  padding-top: 15px;
}
div#div-modal-img{
  text-align: center;
  padding-bottom: 15px;
}
div#modal-pkmn-info {
  padding-top: 12px;
}
ul#modal-ul {
  padding: 0;
}
li.info-item {
  list-style: none;
}
ul#modal-weak {
  padding: 0;
  text-align: center;
}
li.weakness-list {
  display: inline;
  padding: 5px;
  color: #ffffff;
}
h5#weakness-title {
  text-align: center;
  padding-bottom: 5px;
}
div#weakness-div {
  padding-bottom: 15px;
}
/*<-- modal*/
 /*Pkmn types -->*/
div.types {
  padding: 0;
}
p.type-box, li.type-box{
  color: #ffffff;
  height: 21px;
  font-size: 14px;
  border-radius: 6px;
  margin-right: 4px;
  margin-left: 4px;
  -webkit-box-shadow: 7px 7px 5px -8px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 7px 7px 5px -8px rgba(0,0,0,0.75) !important;
  box-shadow: 7px 7px 5px -8px rgba(0,0,0,0.75) !important;
}
p.type-box.bug, li.type-box.bug {
  background: #a6b241;
}
p.type-box.dark, li.type-box.dark {
  background: #7e6a5e;
}
p.type-box.dragon, li.type-box.dragon {
  background: #6c5bbb;
}
p.type-box.electric, li.type-box.electric {
  background: #eed535;
}
p.type-box.fairy, li.type-box.fairy{
  background: #f0a5f2;
}
p.type-box.fighting, li.type-box.fighting{
  background: #b85945;
  margin-left: 1px
}
p.type-box.fire, li.type-box.fire{
  background: #f14730;
}
p.type-box.flying, li.type-box.flying {
  background: #678fcf;
}
p.type-box.ghost, li.type-box.ghost {
  background: #363453;
}
p.type-box.grass, li.type-box.grass {
  background: #7dc95d;
}
p.type-box.ground, li.type-box.ground {
  background: #d7bb56;
}
p.type-box.ice, li.type-box.ice {
  background: #6bb0c3;
}
p.type-box.normal, li.type-box.normal {
  background: #8b8382;
}
p.type-box.poison, li.type-box.poison {
  background: #8a567e;
}
p.type-box.psychic, li.type-box.psychic {
  background: #d55a86;
}
p.type-box.rock, li.type-box.rock {
  background: #bfa965;
}
p.type-box.steel, li.type-box.steel {
  background: #756f73;
}
p.type-box.water, li.type-box.water {
  background: #3498f9;
}
/*<-- Pkmn types*/

/*Footer -->*/
footer#footer {
  background-color: #ffee52 !important;
  margin-top: 20px;
}
div.footer-text{
  text-align: center;
  margin-top: 10px;
}
p#footer-text {
  padding-top: 15px;
  color: #297383;
}
/*<-- Footer*/